.*
!.gitignore
!.gitattributes
!.editorconfig
!.github
!.gitlab-ci.yml
!.readthedocs.yaml

bin/

# Java Files
*.class
!gradle-wrapper.jar

# Maven Files
target/
dependency-reduced-pom.xml

# IntelliJ IDEA Files
*.iml
!.idea
.idea/CodeReadingNote.xml
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/csv-editor.xml
.idea/csv-plugin.xml
.idea/dbnavigator.xml
.idea/dictionaries/
.idea/git_toolbox_prj.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries-with-intellij-classes.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/thriftCompiler.xml
.idea/uiDesigner.xml

# VSCode files
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
dingo-cli/dingo

# Error log
hs_err_*

# Files left by testing
dingo-raft-kv/io.dingodb.raft.kv.storage.TestRaftRawKVStore/
dingo-store-raft/io.dingodb.store.raft.TestRaftInstancePart/
