[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/easylogging"]
	path = contrib/easylogging
	url = https://github.com/abumq/easyloggingpp.git

[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/ClickHouse/boost
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://github.com/google/benchmark.git
[submodule "contrib/google_test"]
	path = contrib/google_test
	url = https://github.com/google/googletest.git
