# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK8
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 8
    - name: Build with Gradle
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: build


    #- name: Publish artifact
    # env:
    #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # The GITHUB_REF tag comes in the format 'refs/tags/xxx'.
      # If we split on '/' and take the 3rd value,
      # we can get the release name.
      #if: github.repository == 'dingodb/dingo'
      #run: |
      #  NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
      #  echo "New version: ${NEW_VERSION}"
      #  echo "Github username: ${GITHUB_ACTOR}"
      #  ./gradlew -Pversion=${NEW_VERSION} publish

    - name: Archive the dingo directory
      run: |
        mkdir dingo
        unzip ./dingo-dist/build/distributions/dingo.zip -d dingo
        cp -r ./docker/templates/bin/* ./dingo/bin/
        cp -r ./docker/templates/conf/* ./dingo/conf/
        rm -rf ./dingo/conf/logback.xml
        rm -rf ./dingo/conf/config.yaml
        zip -r dingo.zip dingo/*

    - name: copy artifactory to anthor workflow
      uses: actions/upload-artifact@v2
      with:
          name: dingo.zip
          path: ./dingo.zip
